<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.rufo.canvas</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/rufo/Library/Application Support/Rufo/start-rufo-production.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/rufo/Library/Application Support/Rufo</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/rufo/Library/Application Support/Rufo/logs/rufo-launch.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/rufo/Library/Application Support/Rufo/logs/rufo-launch-error.log</string>
</dict>
</plist>
